<form class="md-form search-form">
  <div class="form-row">
    <input id="search-field" type="text" value="" required="required"/>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Search</label>
    <img src="assets/img/search.png" alt="" class="icon">
  </div>
  <section id="search-results"></section>
</form>

