<nav class="site-nav">
    <div class="site-nav-left">
      <a class="site-nav-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
    </div>
    <div class="site-nav-right">
      <ul class="nav-menu list">
        <li><a class="no-ajax" href="https://2muchcoffee.com/services">Services</a></li>
        <li><a class="no-ajax" href="https://2muchcoffee.com/technology">Technology</a></li>
        <li><a class="no-ajax" href="https://2muchcoffee.com/portfolio">Portfolio</a></li>
        <li><a class="no-ajax" href="https://2muchcoffee.com/company">Company</a></li>
        <li><a class="no-ajax" href="https://2muchcoffee.com/blog">Blog</a></li>
        <li><a class="no-ajax" href="https://2muchcoffee.com/contacts">Contact us</a></li>
      </ul>
      <div id="menuToggle">
        <input type="checkbox" />

        <span></span>
        <span></span>
        <span></span>

        <ul id="side-menu">
          <li><a class="no-ajax" href="https://2muchcoffee.com/services">Services</a></li>
          <li><a class="no-ajax" href="https://2muchcoffee.com/technology">Technology</a></li>
          <li><a class="no-ajax" href="https://2muchcoffee.com/portfolio">Portfolio</a></li>
          <li><a class="no-ajax" href="https://2muchcoffee.com/company">Company</a></li>
          <li><a class="no-ajax" href="https://2muchcoffee.com/blog">Blog</a></li>
          <li><a class="no-ajax" href="https://2muchcoffee.com/contacts">Contact us</a></li>
        </ul>
      </div>
    </div>
</nav>
